@(title: String)

@projectMain("Project Budget","budget", "Project Budget") {
    <!-- Modals -->

    <!-- Edit Task Modal -->
    <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Edit List</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Due Date</label>
                            <input type="text" class="form-control datetimepicker" value="10/05/2018">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Assigned To</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Team Member
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Change Visibility</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Visibility By
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Customer</a>
                                    <a class="dropdown-item" href="#">Company</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">SAVE CHANGES</button>
                </div>
            </div>
        </div>
    </div>

        <!-- New List Modal -->
    <div class="modal fade" id="createList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Create List</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Due Date</label>
                            <input type="text" class="form-control datetimepicker" value="10/05/2018">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Set Visibility</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Visibility By
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Customer</a>
                                    <a class="dropdown-item" href="#">Company</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">ADD</button>
                </div>
            </div>
        </div>
    </div>

        <!-- New Task Modal -->
    <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Description</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Due Date</label>
                            <input type="text" class="form-control datetimepicker" value="10/05/2018">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Assigned To</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Team Member
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Set Visibility</label>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Visibility By
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Customer</a>
                                    <a class="dropdown-item" href="#">Company</a>
                                </div>
                            </div>
                            <input type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">ADD</button>
                </div>
            </div>
        </div>
    </div>

        <!-- Main Content -->

    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bold text-default"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-title">$ 50,000.00</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Budget
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-money-coins text-success"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">$ 13,540.00</p>
                                    <p class="card-title">$ 14,300.00</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Estimate / Actual
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-bank text-danger"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category">$ 5,000.00</p>
                                    <p class="card-title">$ 7,000.00
                                    </p><p>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Paid / Un Paid
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-5 col-md-4">
                                <div class="icon-big text-center icon-warning">
                                    <i class="nc-icon nc-alert-circle-i text-info"></i>
                                </div>
                            </div>
                            <div class="col-7 col-md-8">
                                <div class="numbers">
                                    <p class="card-category"></p>
                                    <p class="card-title">$ 3,950.00
                                    </p><p>
                                </p></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <hr>
                        <div class="stats">
                            Total Savings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <h4 class="card-title">Breakdown</h4>
@*                            <div class="mt-lg-3">*@
@*                                <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createList">ADD NEW CATEGORY</button></div>*@
@*                            </div>*@
@*                            <div class="mt-lg-3">*@
@*                                <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createList">ADD NEW CATEGORY</button></div>*@
@*                            </div>*@
                            <div class="mt-lg-3 card card-plain">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <h7><b>Wedding Planner</b></h7>
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th class="text-center">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Estimate
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Actual
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Difference
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Paid
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Due
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actions
                                                        </th>
                                                    </tr></thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Corrodination Fees
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 7,000.00
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            -
                                                        </td>
                                                        <td class="text-left">
                                                            -
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">

                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">
                                                                <i class="nc-icon nc-time-alarm"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">
                                                                <i class="nc-icon nc-calendar-60"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                        <!-- Totals -->
                                                    <tr>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            <h6><i class="nc-icon nc-money-coins"></i> USD</h6>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6>$ 7,000.00</h6>
                                                        </td>
                                                        <td  class="text-left">
                                                            <h6>NA</h6>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6>NA</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>NA</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>NA</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            - -
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default btn-round btn-icon btn-icon-mini btn-neutral" rel="tooltip" data-toggle="modal" data-target="#newTask" data-original-title="New Item">
                                                <i class="nc-icon nc-simple-add"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                      <h7><b>Photography</b></h7>
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th class="text-center">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Estimate
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Actual
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Difference
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Paid
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Due
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actions
                                                        </th>
                                                    </tr></thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Photographer
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 4,000.00
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 3,664.92
                                                        </td>
                                                        <td class="text-left">
                                                            $ 335.08
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            $ 1,832.46
                                                        </td>
                                                        <td class="text-center">
                                                            $ 1,832.46
                                                        </td>
                                                        <td class="text-center">

                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">
                                                                <i class="nc-icon nc-time-alarm"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">
                                                                <i class="nc-icon nc-calendar-60"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Gratitute
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 400.00
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            -
                                                        </td>
                                                        <td class="text-left">
                                                            -
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">
                                                            -
                                                        </td>
                                                        <td class="text-center">

                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">
                                                                <i class="nc-icon nc-time-alarm"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">
                                                                <i class="nc-icon nc-calendar-60"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                        <!-- Totals -->
                                                    <tr>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            <h6><i class="nc-icon nc-money-coins"></i> USD</h6>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6>$ 4,400.00</h6>
                                                        </td>
                                                        <td  class="text-left">
                                                            <h6>$ 3,664.92</h6>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6>$ 335.08</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>$ 1,832.46</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>$ 1,832.46</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            - -
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default btn-round btn-icon btn-icon-mini btn-neutral" rel="tooltip" data-toggle="modal" data-target="#newTask" data-original-title="New Item">
                                                <i class="nc-icon nc-simple-add"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h7><b>Venue</b></h7>
                                        <i class="nc-icon nc-minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead class="text-primary">
                                                    <tr>
                                                        <th class="text-center">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Estimate
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Actual
                                                        </th>
                                                        <th class="text-left text-warning">
                                                            Difference
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Paid
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Due
                                                        </th>
                                                        <th class="text-center text-warning">
                                                            Actions
                                                        </th>
                                                    </tr></thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Ceremony Venue Rental
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 2,000.00
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 2,094.23
                                                        </td>
                                                        <td class="text-left text-danger">
                                                            <b>($94.23)</b>
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            $ 2,094.23
                                                        </td>
                                                        <td class="text-center">
                                                            $ 0.00
                                                        </td>
                                                        <td class="text-center">

                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">
                                                                <i class="nc-icon nc-time-alarm"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">
                                                                <i class="nc-icon nc-calendar-60"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check">
                                                                <label class="form-check-label">
                                                                    <input class="form-check-input" type="checkbox" checked="">
                                                                    <span class="form-check-sign"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            Venue Required Liability Insurance
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 135.00
                                                        </td>
                                                        <td contenteditable='true' class="text-left">
                                                            $ 135.00
                                                        </td>
                                                        <td class="text-left">
                                                            -
                                                        </td>
                                                        <td contenteditable='true' class="text-center">
                                                            $ 135.00
                                                        </td>
                                                        <td class="text-center">
                                                            $ 0.00
                                                        </td>
                                                        <td class="text-center">

                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remainders">
                                                                <i class="nc-icon nc-time-alarm"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Payments">
                                                                <i class="nc-icon nc-calendar-60"></i>
                                                            </button>
                                                            <button type="button" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                                                <i class="nc-icon nc-simple-remove"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                        <!-- Totals -->
                                                    <tr>
                                                        <td class="text-center">
                                                        </td>
                                                        <td class="text-center">
                                                            <h6><i class="nc-icon nc-money-coins"></i> USD</h6>
                                                        </td>
                                                        <td class="text-left">
                                                            <h6>$ 2,135.00</h6>
                                                        </td>
                                                        <td  class="text-left">
                                                            <h6>$ 2,729.23</h6>
                                                        </td>
                                                        <td class="text-left text-danger">
                                                            <h6>($94.23)</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>$ 1,832.46</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            <h6>$ 1,832.46</h6>
                                                        </td>
                                                        <td class="text-center">
                                                            - -
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-default btn-round btn-icon btn-icon-mini btn-neutral" rel="tooltip" data-toggle="modal" data-target="#newTask" data-original-title="New Item">
                                                <i class="nc-icon nc-simple-add"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}