@(message: String, businessId: Int)

@main("Well Planner", "customers", "Clients") {
    <!-- New Project Modal -->
    <div class="content" data-ng-controller="clientsController as controller" data-ng-init="controller.getAllClients(@businessId)">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" data-toggle="modal" data-id="@businessId" data-target="#newCustomer" data-ng-click="controller.newItem()">New Client</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Phone Number</th>
                                    <th class="text-center">Email Address</th>
                                    <th class="text-center">Initial Budget</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Notes</th>
                                    <th class="text-center">Project</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-show="controller.showNewItem">
                                    <th class="text-center">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" checked="">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <td class="text-center">
                                        <input type="text" style="text-align:center;" class="form-control" data-ng-model="controller.formData.customerName">
                                    </td>
                                    <td class="text-center">
                                        <phonenumber-directive placeholder="'(415) 314-1805'" model='controller.formData.phoneNumber'></phonenumber-directive>
@*                                        <input type="number" data-number-to-string style="text-align:center;" class="form-control" data-ng-model="controller.formData.phoneNumber">*@
                                    </td>
                                    <td class="text-center">
                                        <input type="email" style="text-align:center;" class="form-control" data-ng-model="controller.formData.emailAddress">
                                    </td>
                                    <td class="text-center">
                                        <input type="number" style="text-align:center;" class="form-control" data-ng-model="controller.formData.budget">
                                    </td>
                                    <td class="text-center">
                                        <select class="form-control" data-ng-model="controller.formData.status" ng-options= "item.type for item in controller.clientStatuses"></select>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center"></td>
                                    <td class="td-actions text-right">
                                        <button class="btn btn-success" data-ng-click="controller.saveItem(6)">
                                            <span class="btn-label">
                                                <i class="nc-icon nc-check-2"></i>
                                            </span>
                                        </button>
                                        <button class="btn btn-danger" data-ng-click="controller.cancelItem()">
                                            <i class="nc-icon nc-scissors"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="client in controller.clients">
                                    <th class="text-center">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" checked="">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </th>
                                    <td class="text-center">{{client.name}}</td>
                                    <td class="text-center">{{client.phone_number | phonenumber}}</td>
                                    <td class="text-center">{{client.email}}</td>
                                    <td class="text-center">{{client.budget | currency}}</td>
                                    <td class="text-center">
                                        <button class="btn btn-primary btn-round">{{client.status}}</button>
                                    </td>
                                    <td class="td-actions text-center">
                                        <button type="button" rel="tooltip" class="btn btn-success btn-sm btn-icon">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center"><button type="button" class="btn btn-outline-default">ADD</button></td>
                                    <td class="td-actions text-right">
                                        <button class="btn btn-warning">
                                            <span class="btn-label">
                                                <i class="nc-icon nc-ruler-pencil"></i>
                                            </span>
                                        </button>
                                        <button class="btn btn-danger" data-ng-click="controller.removeClient(@businessId, client.id)">
                                            <i class="nc-icon nc-scissors"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}