@(message: String)

@main("Welcome to Travel Buddy", "login") {
    <!-- Page Content -->
    <div class="container-fluid" style="padding-top: 10%;" data-ng-app="travelBuddyApp">

        <div class="row">
            <div class="col-lg-6 center-block offset-5">
                <h1 class="mt-5 text-left">Welcome to travel buddy</h1>
                <h3 class="mt-5 text-left">travel site for everyone</h3>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 center-block offset-5">
                <a href="/login" class="btn btn-info" role="button">  Enter  Here  </a>
            </div>
        </div>
    </div>
}
