@main("Welcome to Wedding Planning App", "Company Projects", "Company Projects") {
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <h4 class="card-title">Projects</h4>
                            <div class="mt-lg-3">
                                <div><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#createList">ADD NEW PROJECT</button></div>
                            </div>
                            <div class="mt-lg-3 card card-plain">
                                Hello world!!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}