@(title: String)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <link rel="apple-touch-icon" sizes="76x76" href="@routes.Assets.versioned("template_assets/img/apple-icon.png")">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("template_assets/img/favicon.png")">

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <title>@title</title>

        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

            <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

            <!-- CSS Files -->
        <link href="@routes.Assets.versioned("template_assets/css/bootstrap.min.css")" rel="stylesheet" />
        <link href="@routes.Assets.versioned("template_assets/css/paper-dashboard.css?v=2.0.1")" rel="stylesheet" />

            <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="@routes.Assets.versioned("template_assets/demo/demo.css")" rel="stylesheet" />
    </head>
    <body class=""  data-ng-app="wellPlanner">
        <div class="wrapper ">
            <div class="sidebar" data-color="white" data-active-color="danger">
                <div class="logo">
                    <a href="/" class="simple-text logo-normal text-center">
                        Well Planner
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li>
                            <a href="/register-business-user">
                                <i class="nc-icon nc-spaceship"></i>
                                <p>Registration</p>
                            </a>
                        </li>

                        <li class="active">
                            <a href="/register-team-users">
                                <i class="nc-icon nc-user-run"></i>
                                <p>Team Settings</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <div class="content">
                    <div class="col-md-10 mr-auto ml-auto">
                            <!--      Wizard container        -->
                        <div class="wizard-container">
                            <div class="card card-wizard active" data-color="primary" id="wizardProfile">
                                <form action="" method="" novalidate="novalidate">
                                        <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                                    <div class="card-header text-center">
                                        <h3 class="card-title">
                                            Setup your team (if you have team members)
                                        </h3>
                                        <h5 class="description">This information will let us know more about you</h5>
                                        <div class="wizard-navigation">
                                            <ul class="nav nav-pills">
                                                <li class="nav-item" style="width: 33.3333%;">
                                                    <a class="nav-link" href="#about" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
                                                        <i class="nc-icon nc-tie-bow"></i>
                                                        About
                                                    </a>
                                                </li>
                                                <li class="nav-item" style="width: 33.3333%;">
                                                    <a class="nav-link" href="#account" data-toggle="tab" role="tab" aria-controls="account" aria-selected="true">
                                                        <i class="nc-icon nc-touch-id"></i>
                                                        Account
                                                    </a>
                                                </li>
                                                <li class="nav-item" style="width: 33.3333%;">
                                                    <a class="nav-link" href="#address" data-toggle="tab" role="tab" aria-controls="address" aria-selected="true">
                                                        <i class="nc-icon nc-pin-3"></i>
                                                        Location
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="moving-tab" style="width: 33.3333%; transform: translate3d(0px, 0px, 0px); transition: transform 0s ease 0s;">
                                                <i class="nc-icon nc-single-02"></i>
                                                About
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="about">
                                                <h5 class="info-text"> Let's start with the basic information (with validation)</h5>
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-shop"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="Business Name (required)" name="businessName">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-alert-circle-i"></i></span>
                                                            </div>
                                                            <input type="number" placeholder="Phone Number (required)" class="form-control" name="phoneNumber">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-send"></i></span>
                                                            </div>
                                                            <input type="text" placeholder="Online Website Link" class="form-control" name="existingWeddingBusinessSiteUrl">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="account">
                                                <h5 class="info-text"> Let's setup your admin account now!!</h5>
                                                <div class="row justify-content-center">

                                                    <div class="col-sm-4">
                                                        <div class="picture-container">
                                                            <div class="picture">
                                                                <img src="@routes.Assets.versioned("template_assets/img/default-avatar.png")" class="picture-src" id="wizardPicturePreview" title="">
                                                                <input type="file" id="wizard-picture">
                                                            </div>
                                                            <h6 class="description">Choose Picture</h6>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="Admin Username (required)" name="adminUsername">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-atom"></i></span>
                                                            </div>
                                                            <input type="password" placeholder="Password (required)" class="form-control" name="password">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-atom"></i></span>
                                                            </div>
                                                            <input type="password" placeholder="confirmPassword (required)" class="form-control" name="confirmPassword">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"><i class="nc-icon nc-send"></i></span>
                                                            </div>
                                                            <input type="email" placeholder="Admin Email (required)" class="form-control" name="email">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="address">
                                                <div class="row justify-content-center">
                                                    <div class="col-sm-12">
                                                        <h5 class="info-text"> Are you living in a nice area? </h5>
                                                    </div>
                                                    <div class="col-lg-10 mt-3">
                                                        <div class="form-group">
                                                            <label>City (required)</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>State (required)</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Zip Code (required)</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group select-wizard">
                                                            <label>Country</label>
                                                            <div class="dropdown bootstrap-select">
                                                                <select class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Single Select" tabindex="-98"><option class="bs-title-option" value=""></option>
                                                                    <option value="Afghanistan"> USA </option>
                                                                    <option value="Albania"> Canada </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="pull-right">
                                                <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                                                <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Finish" style="display: none;">
                                            </div>
                                            <div class="pull-left">
                                                <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                </form>
                            </div>
                        </div>
                            <!-- wizard container -->
                    </div>
                </div>

                <footer class="footer footer-black  footer-white ">
                    <div class="container-fluid">
                        <div class="row">
                            <nav class="footer-nav">
                                <ul>
                                    @*                                    <li>*@
                                    @*                                        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>*@
                                    @*                                    </li>*@
                                    @*                                    <li>*@
                                    @*                                        <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>*@
                                    @*                                    </li>*@
                                    @*                                    <li>*@
                                    @*                                        <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>*@
                                    @*                                    </li>*@
                                </ul>
                            </nav>
                            <div class="credits ml-auto">
                                <span class="copyright">
                                    ©
                                    <script>
                                            document.write(new Date().getFullYear())
                                    </script>, made with <i class="fa fa-heart heart"></i>  by Shiva Komatreddy
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
            <!--   Core JS Files   -->
        <script src="@routes.Assets.versioned("template_assets/js/core/jquery.min.js")"></script>

        <script src="@routes.Assets.versioned("template_assets/js/core/popper.min.js")"></script>

        <script src="@routes.Assets.versioned("template_assets/js/core/bootstrap.min.js")"></script>

        <script src="@routes.Assets.versioned("template_assets/js/plugins/perfect-scrollbar.jquery.min.js")"></script>

        <script src="@routes.Assets.versioned("template_assets/js/plugins/moment.min.js")"></script>

            <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/bootstrap-switch.js")"></script>

            <!--  Plugin for Sweet Alert -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/sweetalert2.min.js")"></script>
            <!-- Forms Validations Plugin -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/jquery.validate.min.js")"></script>

            <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/jquery.bootstrap-wizard.js")"></script>

            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/bootstrap-selectpicker.js")"></script>

            <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->

        <script src="@routes.Assets.versioned("template_assets/js/plugins/bootstrap-datetimepicker.js")"></script>

            <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->

        <script src="@routes.Assets.versioned("template_assets/js/plugins/jquery.dataTables.min.js")"></script>
            <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/bootstrap-tagsinput.js")"></script>
            <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->

        <script src="@routes.Assets.versioned("template_assets/js/plugins/jasny-bootstrap.min.js")"></script>
            <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->

        <script src="@routes.Assets.versioned("template_assets/js/plugins/fullcalendar.min.js")"></script>
            <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/jquery-jvectormap.js")" ></script>
            <!--  Plugin for the Bootstrap Table -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/nouislider.min.js")" ></script>
            <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
            <!-- Chart JS -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/chartjs.min.js")"></script>
            <!--  Notifications Plugin    -->
        <script src="@routes.Assets.versioned("template_assets/js/plugins/bootstrap-notify.js")" ></script>
            <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="@routes.Assets.versioned("template_assets/js/paper-dashboard.min.js?v=2.0.1")" type="text/javascript"></script>
            <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
        <script src="@routes.Assets.versioned("template_assets/demo/demo.js")"></script>

        <script src="@routes.Assets.versioned("node_modules/angular/angular.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-animate/angular-animate.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-aria/angular-aria.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-material/angular-material.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-jwt/dist/angular-jwt.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-storage/dist/angular-storage.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/angular-ui-router/release/angular-ui-router.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/auth0-angular/build/auth0-angular.js")"></script>
        <script src="@routes.Assets.versioned("node_modules/auth0-js/build/auth0.js")"></script>
        <script>
                $(document).ready(function() {
                    // Initialise the wizard
                    demo.initWizard();
                    setTimeout(function() {
                        $('.card.card-wizard').addClass('active');
                    }, 600);
                });

                <!-- javascript for Toggle Button Swtiches -->
                $('.bootstrap-switch').each(function(){
                    $this = $(this);
                    data_on_label = $this.data('on-label') || '';
                    data_off_label = $this.data('off-label') || '';

                    $this.bootstrapSwitch({
                        onText: data_on_label,
                        offText: data_off_label
                    });
                });

                <!-- javascript for Date Time Picker -->
                $('.datetimepicker').datetimepicker({
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-chevron-up",
                        down: "fa fa-chevron-down",
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                        today: 'fa fa-screenshot',
                        clear: 'fa fa-trash',
                        close: 'fa fa-remove'
                    }
                });
        </script>



        <script src="@routes.Assets.versioned("javascripts/angular/main.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular/signUpController.js")"></script>
    </body>

</html>